.box-size__border {
  border: 2px solid $green-papa;
  border-radius: 5px;

  .box-size__border__name {
    font-size: 22px;
    font-weight: 500;
    color: $darkgrey-papa;
    font-family: "papafont", sans-serif;
    text-transform: uppercase;
  }
}

.pizza {
  color: #898988;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto 30px 80px 1fr;

  .pizza__name {
    font-size: 22px;
    font-weight: 500;
    color: $darkgrey-papa;
    font-family: "papafont", sans-serif;
    text-transform: uppercase;
  }

  .pizza__button {
    text-align: center;
    padding: 0 10px;
    background-color: $lightgrey-papa;
    color: white;
    border: none;
    height: 40px;
    width: 35px;
    font-size: 18px;
    border-radius: 8px;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .pizza--font14 {
    font-size: 12px;
  }

  .pizza__number-span {
    color: $green-papa;
    font-size: 24px;
  }

  .pizza--height-detail {
    height: 85px;

    @media (max-width: 340px) {
      height: 100px;
    }
  }

  .pizza--height-detail2 {
    height: 100px;

    @media (max-width: 340px) {
      height: 135px;
    }
  }

  .pizza--height-detail3 {
    height: 50px;
  }
}

.pizza--hide {
  display: none !important;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="radio"]:checked+label::before {
  background-color: $green-papa;
}

.pizza-count {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
  font-size: 14px;

  &::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid $green-papa;
    border-radius: 18px;
    z-index: -1;
  }

  @media (max-width: 340px) {
    padding-right: 5px;
    padding-left: 26px;
  }
}

.confirm {
  text-align: center;

  .confirm__btn-confirm-pizza {
    background-color: $green-papa;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .confirm__text-alert {
    color: $darkred-papa;
    font-weight: 700;
  }
}


  
.container-button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
}


.container-bigpizza,.container-familypizza,.container-superfamilypizza {
  text-align: center;
  gap: 30px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.item {
  padding: 8px
}
  
.pizza-item {
  color: #898988;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px auto 30px 1fr 40px;
  align-items: center;
}

.botones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr
}